$TTL	604800
@	IN	SOA	veza.ttu. root.veza.ttu. (
			      4		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
	IN	NS	infra01.veza.ttu.
	IN	NS	infra02.veza.ttu.
102	IN	PTR	infra01.veza.ttu.
103	IN	PTR	infra02.veza.ttu.