$TTL	604800
@	IN	SOA	veza.ttu. root.veza.ttu. (
			      2     ; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
veza.ttu.	IN	NS	infra01.veza.ttu.
infra01.veza.ttu.	IN	A	192.168.56.102
ns.veza.ttu.  CNAME infra01.veza.ttu.
web.veza.ttu.  CNAME infra01.veza.ttu.
