$TTL	604800
@	IN	SOA	veza.red. root.veza.red. (
			      4		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
	IN	NS	infra01.veza.red.
	IN	NS	infra02.veza.red.
102	IN	PTR	infra01.veza.red.
103	IN	PTR	infra02.veza.red.